<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="changestyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
   
<div class="container">
   <p>You will need to enter your current password to change it.</p>
   <form action="/updatePassword" method="POST">
      <input type="text" name="username" value="<%= user.username %>" required>
       <input type="text" name="currPass" placeholder="Current password">
       <input type="text" name="newPass" placeholder="New password">
       <input type="text" name="confirmPass" placeholder="Confirm new password">
       <button type="submit">Update Password</button>
   </form>
</div>
   
</body>
</html>
