body {
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.container {
    text-align: center;
    margin: 0 auto; /* Center horizontally */
}

p {
    color: #333; /* Dark text color */
}

form {
    width: 300px;
    background-color: #fff; /* White background for form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: auto;
}

input[type="text"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #76a68b; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #447559; 
}


